<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero-slider/pic-2.jpeg">
            <div class="hs-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hs-subtitle">All round personality development</div>
                            <h2 class="hs-title">Right guidance and support at right time would cultivate great personality in kids.</h2>
                            <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is
                                power.</p>
                            <div class="site-btn">GET STARTED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero-slider/pic-7.jpeg">
            <div class="hs-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hs-subtitle">All round personality development</div>
                            <h2 class="hs-title">Right guidance and support at right time would cultivate great personality in kids.</h2>
                            <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is
                                power.</p>
                            <div class="site-btn">GET STARTED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>